Go to this page https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
2. Find out the number of orders made by 'Around the Horn'

```sql
SELECT * FROM Customers where CustomerName = 'Around the Horn';
```
This lets us see the around the world record in customers, customerID = 4

```sql
SELECT count(*) from orders where customerID = 4;
```
This uses the ID found earlier to count how many orders it appears in the orders table - returns 2 (correct answer)
This could be done by a join too in one querey