Go to this page https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
2. Find the total quantity ordered of the product with ProductID = 24.


Just have to find sum where product id is 24

```sql
SELECT sum(quantity) FROM orderdetails where productid =24;;

```

output : 158