Go to this page https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
The total quantity ordered for ProductID = 1
2. Append the first letter, of the name of the product, with the highest price, as a suffix. (in lowercase)

Highest price
```sql
SELECT * FROM products order by price desc;
```
Answer CÃ´te de Blaye	263.5000

```sql
SELECT sum(quantity) FROM orderdetails where productid =1;
```
this returns 159
answer is 159c/C