Go to this page https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
Find total number of products supplied by supplier with SupplierID = 5
2. Then multiply by the Count products with a unit price greater than 50
3. Append the name given to amazon buckets, to the end of this value

```sql
SELECT count(*) FROM products where supplierid = 5;
```

returns 2

```sql
select count(*) from products where price > 50;
```
Returns 7

Final answer 14s3