3. From the customer_name column, find the number of unique last names in the dataset.
### 42 - case insensitive
### 73 - case sensitive

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType
from pyspark.sql.functions import col, lower, sum as spark_sum, split
spark = SparkSession.builder.appName("BookingsMessy").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/12/03 13:59:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/12/03 13:59:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/12/03 13:59:12 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/12/03 13:59:12 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
25/12/03 13:59:12 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
25/12/03 13:59:12 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [2]:
schema = StructType([
    StructField("booking_id", IntegerType(), True),
    StructField("customer_id", StringType(), True),
    StructField("customer_name", StringType(), True),
    StructField("booking_date", StringType(), True),
    StructField("room_number", IntegerType(), True),
    StructField("breakfast_service", StringType(), True),
    StructField("breakfast_rating", DoubleType(), True)
])
# Data rows
data = [
    (1, "C019", "Stephanie Jackson", "20240127", 247, "Y", 2.5),
    (2, "C025", "Amanda Garcia", "June 07, 2024", 119, "y", 2.0),
    (3, "C029", "SAraH JOHnSON", "2024-03-15", 204, "Y", 2.8),
    (4, "C010", "Nicole Wilson", "03/07/2024", 203, "N", 2.0),
    (5, "C027", "Kevin White", "2024-04-23T00:00:00", 119, "y", 1.4),
    (6, "C012", "Tyler Rodriguez", "03/03/24", 348, "Y", 2.2),
    (7, "C065", "harper DAvIS", "08/16/2024", 102, "Y", 1.0),
    (8, "C059", "MiA WIlSOn", "April 08, 2024", 111, "Y", 2.2),
    (9, "C018", "Christopher Lee", "2024-09-04T00:00:00", 234, "n", 1.0),
    (10, "C060", "William Garcia", "28-04-2024", 149, "Y", 2.1),
    (11, "C004", "Jennifer White", "2024-04-16T00:00:00", 203, "y", 2.6),
    (12, "C009", "mATtheW MarTINeZ", "2024-12-12T00:00:00", 216, "Y", 2.6),
    (13, "C058", "Alexander Davis", "22-05-2024", 231, "Y", 2.3),
    (14, "C053", "Isabella Garcia", "01/11/24", 222, "y", 2.4),
    (15, "C041", "Blake Baker", "20240117", 212, "Y", 2.0),
    (16, "C044", "PHOeNIX MITCHelL", "2024-09-15T00:00:00", 129, "N", 1.3),
    (17, "C016", "Drew Adams", "04/03/2024", 110, "Y", 2.1),
    (18, "C067", "Evelyn Garcia", "2024-06-28", 205, "Y", 1.9),
    (19, "C014", "Taylor King", "08/07/2024", 334, "Y", 1.0),
    (20, "C019", "Stephanie Jackson", "November 13, 2024", 332, "Y", 2.0),
    (21, "C026", "Ashley Lopez", "01/05/2024", 227, "Y", 1.0),
    (22, "C054", "Mason Wilson", "09/18/2024", 213, "N", 2.0),
    (23, "C045", "SKylEr pEREZ", "2024-05-09T00:00:00", 234, "Y", 1.3),
    (24, "C002", "joHn SmITH", "08-12-2024", 245, "Y", 2.0),
    (25, "C003", "CAseY LoPeZ", "04/10/2024", 101, "Y", 1.0),
    (26, "C021", "ROBerT TAYlor", "03/12/2024", 302, "Y", 2.0),
    (27, "C072", "Anthony Davis", "03-02-2024", 134, "y", 1.8),
    (28, "C022", "Rachel Harris", "06-11-2024", 108, "Y", 2.3),
    (29, "C024", "aleX Green", "June 10, 2024", 245, "Y", 2.7),
    (30, "C018", "CHriSTopHER LEe", "16/05/24", 212, "y", 1.7),
    (31, "C070", "mAtTheW JoHnSon", "2024-12-27", 146, "Y", 1.0),
    (32, "C062", "bENjaMIN rodRIGueZ", "2024-07-09", 316, "Y", 1.7),
    (33, "C055", "eMmA ThOmPsOn", "2024-09-22", 214, "Y", 2.0),
    (34, "C057", "ava BrOwn", "2024-02-11", 233, "y", 1.1),
    (35, "C039", "Alexis HAll", "May 19, 2024", 247, "Y", 2.0),
    (36, "C026", "Ashley Lopez", "November 08, 2024", 246, "Y", 1.2),
    (37, "C047", "Finley Turner", "18/06/24", 246, "Y", 2.0),
    (38, "C007", "Brandon Martin", "2024-01-03", 312, "Y", 1.0),
    (39, "C004", "Jennifer White", "2024-04-03", 144, "y", 2.0),
    (40, "C052", "Lucas marTInEz", "20241109", 340, "Y", 2.3),
    (41, "C015", "Cameron Allen", "07/10/2024", 327, "Y", 1.0),
    (42, "C010", "nICOLE WIlsoN", "2024-10-03", 338, "Y", 1.0),
    (43, "C013", "Emery Campbell", "2024-12-10T00:00:00", 112, "N", 1.5),
    (44, "C007", "Brandon Martin", "2024-04-17T00:00:00", 148, "n", 2.7),
    (45, "C014", "Taylor King", "2024-05-07T00:00:00", 331, "Y", 2.3),
    (46, "C046", "DAkOTa rOberts", "20241021", 112, "y", 1.0),
    (47, "C032", "daNIEl heRnandez", "2024-08-15", 231, "y", 2.2),
    (48, "C049", "aVErY paRkEr", "01-02-2024", 150, "y", 2.0),
    (49, "C061", "Charlotte Martinez", "20240102", 335, "y", 1.9),
    (50, "C068", "Daniel Martinez", "July 27, 2024", 331, "Y", 2.0),
    (51, "C025", "Amanda Garcia", "20250502", 338, "Y", 4.7),
    (52, "C022", "rAChEl hARRIS", "08/02/2025", 329, "Y", 4.8),
    (53, "C043", "River Carter", "08/06/25", 244, "y", 4.2),
    (54, "C024", "AlEx GreeN", "2025-09-03T00:00:00", 136, "N", 4.0),
    (55, "C034", "Ryan Thomas", "April 02, 2025", 339, "Y", 4.7),
    (56, "C028", "Emily Davis", "03-09-2025", 212, "y", 4.0),
    (57, "C017", "Kayla Lee", "23/09/25", 112, "n", 4.4),
    (58, "C008", "rILEY hILl", "20250216", 132, "Y", 4.5),
    (59, "C015", "CamErOn alLEN", "February 21, 2025", 140, "Y", 4.7),
    (60, "C001", "Lisa Anderson", "2025-05-23", 248, "y", 4.6),
    (61, "C063", "amElIa jOhnsOn", "20250827", 125, "y", 4.9),
    (62, "C048", "Rowan Phillips", "20251212", 239, "Y", 4.2),
    (63, "C066", "Michael Wilson", "09/08/25", 314, "Y", 4.1),
    (64, "C028", "EmILY DAvIs", "2025-10-17T00:00:00", 343, "N", 4.0),
    (65, "C069", "Abigail Rodriguez", "November 25, 2025", 223, "N", 4.0),
    (66, "C021", "robeRt TayloR", "07/08/25", 334, "N", 4.7),
    (67, "C020", "jordaN LeWIs", "20/06/25", 210, "Y", 4.6),
    (68, "C002", "jOhn smItH", "2025-09-28", 225, "Y", 4.0),
    (69, "C023", "sAmAnTHa MaRTINEZ", "2025-02-14T00:00:00", 101, "y", 4.5),
    (70, "C006", "Sage Nelson", "11/28/2025", 124, "N", 4.0),
    (71, "C016", "drEw AdAms", "06/23/2025", 230, "Y", 4.4),
    (72, "C008", "RiLeY hILl", "2025-10-07", 325, "Y", 4.2),
    (73, "C009", "matthEw mARtINeZ", "February 15, 2025", 219, "Y", 4.5),
    (74, "C017", "Kayla Lee", "20250202", 307, "Y", 4.8),
    (75, "C023", "Samantha Martinez", "06/07/2025", 150, "Y", 4.7),
    (76, "C036", "JusTin GaRCiA", "2025-03-07T00:00:00", 236, "Y", 4.7),
    (77, "C005", "Jessica Rodriguez", "15-07-2025", 208, "N", 4.3),
    (78, "C013", "EmERY cAmpbElL", "20250125", 203, "N", 4.0),
    (79, "C038", "Connor Walker", "October 24, 2025", 125, "Y", 4.9),
    (80, "C056", "Ethan Johnson", "2025-01-08T00:00:00", 128, "Y", 4.0),
    (81, "C033", "James GoNzAlEz", "2025-09-24T00:00:00", 126, "N", 4.3),
    (82, "C042", "Quinn Gonzalez", "2025-12-14T00:00:00", 312, "Y", 4.7),
    (83, "C035", "MeGaN thoMPSoN", "23-08-2025", 239, "y", 4.9),
    (84, "C071", "Emily Brown", "21-09-2025", 101, "Y", 4.8),
    (85, "C027", "Kevin White", "04/27/2025", 247, "Y", 4.0),
    (86, "C037", "Brittany Clark", "10/12/2025", 330, "y", 4.2),
    (87, "C011", "Morgan Young", "02/16/2025", 342, "N", 4.0),
    (88, "C030", "michaEL BrOwn", "20251028", 223, "N", 4.9),
    (89, "C012", "Tyler Rodriguez", "20250820", 339, "Y", 4.0),
    (90, "C064", "Jacob Brown", "13/06/25", 101, "Y", 4.0),
    (91, "C020", "Jordan Lewis", "March 24, 2025", 302, "Y", 4.0),
    (92, "C006", "SAgE NElson", "2025-10-16T00:00:00", 238, "y", 4.5),
    (93, "C005", "JEsSICA roDrIGUEZ", "09/25/2025", 306, "Y", 4.7),
    (94, "C050", "Reese Evans", "2025-06-25T00:00:00", 221, "Y", 4.8),
    (95, "C031", "David Wilson", "04/23/2025", 210, "Y", 4.9),
    (96, "C040", "Jordan Wright", "21-11-2025", 320, "Y", 4.8),
    (97, "C011", "Morgan yOUng", "12/20/2025", 110, "Y", 4.3),
    (98, "C051", "SOfIa RODrigUez", "16-08-2025", 238, "Y", 4.6),
    (99, "C003", "Casey Lopez", "04-05-2025", 128, "Y", 4.0),
    (100, "C001", "liSa aNDERsON", "20251003", 330, "Y", 4.0)
]
bookings_messy = spark.createDataFrame(data, schema)
display(bookings_messy)

DataFrame[booking_id: int, customer_id: string, customer_name: string, booking_date: string, room_number: int, breakfast_service: string, breakfast_rating: double]

In [11]:
bookings_messy = bookings_messy.withColumn('customer_lastname', split((bookings_messy["customer_name"]),' ').getItem(1))
#the above makes a lower case column 

unique_lns = bookings_messy.select("customer_lastname").distinct()
unique_lns.count()

73