Go to this page https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all
FInd out the number of customers from germany

```sql
SELECT count(*) FROM Customers where Country = 'Germany';
```